# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and temporary files
*.log
*.tmp

# Python egg metadata
*.egg-info/

# Environment variable or config files (if any)
.env
config.py

# Pip wheel cache
*.whl
